/*ABOUT THE PROJECT MODAL CSS START*/

.aboutcontainer__open {
  cursor: pointer;
}

.aboutcontainer {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 86rem;
  height: 44rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
}

.aboutcontainer.is-active {
  display: block;
  z-index: 99;
}

.aboutcontainer__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  font-size: 2rem;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.card__container {
  position: absolute;
  top: 2rem;
  left: 4rem;
  width: 24rem;
  height: 31rem;
}

.card__container:hover .card {
  transform: rotateY(180deg) perspective(2000px);
}

.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 2s ease-in-out;
}

.cardfigure {
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: 5rem;
  text-align: center;
  border-radius: 1rem;
}

.front {
  padding: 4rem;
  font-size: 1.5rem;
  background-color: black;
  color: white;
}

.cardfigure__front--img {
  height: 12rem;
  width: 12rem;
  margin-top: 3.9rem;
}

.back {
  background-color: white;
  color: black;
  padding: 2rem;
  font-size: 1.2rem;
  background-color: rgb(224, 224, 224);
  transform: rotateY(180deg) translateZ(0) perspective(2000px);
  backface-visibility: hidden;
}

/*TALE CARDS*/

.talecard__container {
  position: absolute;
  top: 2rem;
  left: 31rem;
  width: 24rem;
  height: 31rem;
}

.talecard__container:hover .talecard {
  transform: rotateY(180deg) perspective(2000px);
}

.talecard {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 2s ease-in-out;
}

.talecard__figure {
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: 5rem;
  text-align: center;
  border-radius: 1rem;
}

.talecard__figure--front {
  padding: 4rem;
  font-size: 1.5rem;
  background-color: black;
  color: white;
}

.talecard__front--img {
  height: 12rem;
  width: 12rem;
  margin-top: 2rem;
}

.talecard__figure--back {
  background-color: white;
  color: black;
  padding: 2rem;
  font-size: 1.2rem;
  background-color: rgb(224, 224, 224);
  transform: rotateY(180deg) translateZ(0) perspective(2000px);
  backface-visibility: hidden;
}

/*BOOKCARD*/

.bookcard__container {
  position: absolute;
  top: 2rem;
  left: 58rem;
  width: 24rem;
  height: 31rem;
}

.bookcard__container:hover .bookcard {
  transform: rotateY(180deg) perspective(2000px);
}

.bookcard {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 2s ease-in-out;
}

.bookcard__figure {
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: 5rem;
  text-align: center;
  border-radius: 1rem;
}

.bookcard__figure--front {
  padding: 4rem;
  font-size: 1.5rem;
  background-color: black;
  color: white;
}

.bookcard__figure--back {
  background-color: white;
  color: black;
  padding: 2rem;
  font-size: 1.2rem;
  background-color: rgb(224, 224, 224);
  transform: rotateY(180deg) translateZ(0) perspective(2000px);
  backface-visibility: hidden;
}

.bookcard--img {
  height: 12rem;
  width: 12rem;
  margin-top: 5.5rem;
}
/*ABOUT THE PROJECT MODAL CSS END*/
